In [1]:
import pandas as pd

In [2]:
covid=pd.read_csv("covid",index_col="countriesAndTerritories")

In [3]:
covid

,dateRep,day,month,year,cases,deaths,geoId,countryterritoryCode,popData2018,continentExp
countriesAndTerritories,,,,,,,,,,
Afghanistan,24/04/2020,24,4,2020,105,2,AF,AFG,37172386.0,Asia
Afghanistan,23/04/2020,23,4,2020,84,4,AF,AFG,37172386.0,Asia
Afghanistan,22/04/2020,22,4,2020,61,1,AF,AFG,37172386.0,Asia
Afghanistan,21/04/2020,21,4,2020,35,2,AF,AFG,37172386.0,Asia
Afghanistan,20/04/2020,20,4,2020,88,3,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,25/03/2020,25,3,2020,0,0,ZW,ZWE,14439018.0,Africa
Zimbabwe,24/03/2020,24,3,2020,0,1,ZW,ZWE,14439018.0,Africa
Zimbabwe,23/03/2020,23,3,2020,0,0,ZW,ZWE,14439018.0,Africa
Zimbabwe,22/03/2020,22,3,2020,1,0,ZW,ZWE,14439018.0,Africa
Zimbabwe,21/03/2020,21,3,2020,1,0,ZW,ZWE,14439018.0,Africa

In [6]:
poland=covid.loc["Poland",["dateRep","cases","deaths"]]

In [7]:
poland

                            dateRep  cases  deaths
countriesAndTerritories
Poland                   24/04/2020    342      28
Poland                   23/04/2020    313      25
Poland                   22/04/2020    263      21
Poland                   21/04/2020    306      20
Poland                   20/04/2020    545      13
Poland                   19/04/2020    363      15
Poland                   18/04/2020    461      18
Poland                   17/04/2020    336      28
Poland                   16/04/2020    380      23
Poland                   15/04/2020    268      18
Poland                   14/04/2020    260      13
Poland                   13/04/2020    318      24
Poland                   12/04/2020    401      27
Poland                   11/04/2020    380       7
Poland                   10/04/2020    370      15
Poland                   09/04/2020    357      30
Poland                   08/04/2020    435      22
Poland                   07/04/2020    311      13
Poland                   06/04/2020    475      15
Poland                   05/04/2020    244       8
Poland                   04/04/2020    437      14
Poland                   03/04/2020    392      14
Poland                   02/04/2020    243      10
Poland                   01/04/2020    256       2
Poland                   31/03/2020    193       9
Poland                   30/03/2020    224       4
Poland                   29/03/2020    249       2
Poland                   28/03/2020    168       0
Poland                   27/03/2020    170       2
Poland                   26/03/2020    150       4
Poland                   25/03/2020    152       2
Poland                   24/03/2020    115       1
Poland                   23/03/2020     98       2
Poland                   22/03/2020    111       0
Poland                   21/03/2020     70       0
Poland                   20/03/2020     68       0
Poland                   19/03/2020     49       0
Poland                   18/03/2020     61       1
Poland                   17/03/2020     52       1
Poland                   16/03/2020     21       0
Poland                   15/03/2020     36       1
Poland                   14/03/2020     19       1
Poland                   13/03/2020     18       1
Poland                   12/03/2020      9       0
Poland                   11/03/2020      5       0
Poland                   10/03/2020      6       0
Poland                   09/03/2020      5       0
Poland                   08/03/2020      1       0
Poland                   07/03/2020      4       0
Poland                   04/03/2020      1       0

In [9]:
deaths=poland["deaths"]

In [10]:
deaths.sum()

454

In [11]:
cases=poland["cases"]

In [12]:
cases.sum()

10511

In [16]:
cases.count()

50

In [18]:
cases.value_counts()

1      2
380    2
5      2
268    1
152    1
342    1
21     1
19     1
18     1
401    1
336    1
49     1
461    1
318    1
475    1
115    1
9      1
392    1
263    1
70     1
260    1
52     1
193    1
6      1
224    1
150    1
61     1
243    1
313    1
311    1
437    1
244    1
435    1
306    1
370    1
111    1
68     1
363    1
170    1
4      1
168    1
249    1
357    1
36     1
98     1
545    1
256    1
Name: cases, dtype: int64

In [19]:
poland.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Poland to Poland
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dateRep  50 non-null     object
 1   cases    50 non-null     int64
 2   deaths   50 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.8+ KB

In [23]:
import sys

In [24]:
print(sys.version)

3.7.6 (default, Jan  8 2020, 19:59:22)
[GCC 7.3.0]

In [25]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)